/********************************************/			
/* 		general page styling				*/	
/********************************************/
	
		/* backgrounds */			
		#item1 {background: #98392b url() no-repeat 0 0; background-size:contain;}
		#item2 {background: #F48B25 url() no-repeat 0 0; background-size:contain; color: white;}
		#item3 {background: white url() no-repeat 0 0; background-size:contain; color: white;}
		#item4 {background: #fff url() no-repeat right 0; background-size:contain;}
		#item5 {background: #fff url() no-repeat 0 0; background-size:contain;}
		#item6 {background: #02249f url() no-repeat 0 0; background-size:contain; color: white;}
		#item7 {background: #fff url() no-repeat center center; background-size:60%;}
		#item8 {background: #eb0000 url() no-repeat 0 0; background-size:contain; color: white;}
		#item9 {background: #fff;}
		#item10 {background: #02249f;}
		#item11 {background: #000 url() no-repeat 0 0; background-size:contain; color: white;}
		#item12 {background: #000 url() no-repeat 0 0; background-size:contain; color: white;}
		
		
		
		body {font: 16px/1.5em georgia, serif;}
		
		/*h2.huge1 {font: normal 2em georgia, serif;
			color: white;
			letter-spacing: .1em;
			}*/
		h1.huge1 {font: normal 17em georgia, serif; 
			line-height:0em;
			color: white;
		}
		p.huge1{font: normal 900 32px georgia, serif;
			padding-left: 10em;
		}
		p.huge2{font: normal 900 32px georgia, serif;
			color: white;
			letter-spacing: .2em;
			padding-bottom: 2em;
			padding-left: 9em
		}
		
		@media screen and (max-width: 32em){
			h1.huge {font: normal 4em/.1em georgia, serif;}
		}
		
		/* match landscape breakpoint*/
		@media screen and (max-width: 32em){
			.menu {max-height: 100vh; overflow-y: auto; -webkit-overflow-scrolling: touch; padding-top:0 !important;}
			.menu ul {margin-top: 0em;}
		}
		@media screen and (max-height: 40em){
			.menu {max-height: 100vh; overflow-y: auto; -webkit-overflow-scrolling: touch; padding-top:0 !important;}
			.menu ul {margin-top: 0em;}
		}

		.layout > .content h2{margin-top:0;}
		
		
		blockquote {font: normal 1.5em/1.5em georgia, serif;}
		blockquote .author {font-size: .75em; color: black; margin-top:2em;}
	
		#item1	.layout a.next-page {color: #4A2B28; background: white;
			font-family:"monospace";}
		#item2	.layout a.next-page {color: black; background: white;
			font-family:"monospace"}
		#item3	.layout a.next-page {color: white; background: black;
			font-family:"monospace"}
		#item4	.layout a.next-page {color: black; background: white;
			font-family:"monospace"}
		#item5	.layout a.next-page {color: black; background: white;
			font-family:"monospace"}
		#item6	.layout a.next-page {color: black; background: white;
			font-family:"monospace"}
		#item7	.layout a.next-page {color: white; background: black;
			font-family:"monospace"}
		#item8	.layout a.next-page {color: black; background: white;
			font-family:"monospace"}
		#item9	.layout a.next-page {color: black; background: white;
			font-family:"monospace"}
		#item10	.layout a.next-page {color: black; background: white;
			font-family:"monospace"}
		#item11	.layout a.next-page {color: black; background: white;
			font-family:"monospace"}
		#item12	.layout a.next-page {color: black; background: white;
			font-family:"monospace"}
		
		/* used for two col page*/
		@media screen and (max-width: 32em){
			h2 {font: normal 2.5em/1em georgia, serif; margin-top: 1.75em}
		}
		
		
		/* Diagnostic */
		#breakpoint {position: fixed; right: 0; top:0; z-index: 10000;}
		#breakpoint .webkit {background: green; color: white; display: none;}
		#breakpoint .edge {background: green; color: white; display: none;}
		#breakpoint .ie {background: green; color: white; display: none;}
		#breakpoint .unsupported {background: green; color: white; display: none;}
		#breakpoint .desk {background: cyan; color: black; display: none;}
		#breakpoint .deskTab {background: yellow; color: black; display: none;}
		#breakpoint .mob {background: orange; color: black; display: none;}

